body{
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}
h1{
    font-size: 50px;
}
.name-hilight{
    color: orange;
}
.half-width{
  width: 40%;
  float: left;
  padding: 5%;
 margin left: 10%;
 


}
.half-width img{
  width: 100%;
}



section{
  height: 500px;
  padding-bottom: 120px;


}
.box{
  text-decoration: none;
  background-image: linear-gradient(red, yellow);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
.amin{
  width: 40%;
  float: left;
  padding: 5%;
  margin left: 10%;
}
.ami{
  color: orange;
}
.akram{
  box-shadow: 10px 10px 20px gray;
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
  height: 70%;
}

#aman{
  border-left: 5px solid;
  border-image: linear-gradient(180deg, red, orange);
  border-image-slice: 1;
  background-color: white;
}

#mam{
  border-left: 5px solid;
  border-image: linear-gradient(180deg, green, orange);
  border-image-slice: 1;
  background-color: white;
}
footer p{
  text-align: center;
}